
/frontend/node_modules
/frontend/dist
/frontend/.env


/backend/venv
/backend/__pycache__/
backend/*.pyc
backend/.env


.DS_Store
.vscode/
npm-debug.log
yarn-error.log


*.pt
*.onnx
*.tflite
models/
